<html>

<head>

<title>Login</title>


</head>


<body>
<h1 style="color:;text-align:center;">BOOKS Login</h1>

<br>

<p style="color:;text-align:center;">Welcome to BOOKS, a website that allows you to search for books using our engine, but first, new users need to registor and login using their credentials. </p>

<p style="color:;text-align:center;">BOOKS allows users to look up and find books based on their ISBN number, title, or author, by using a search engine that is connected to a database that stores a number of books.
  Another feature of BOOKS is that it allows users to see reviews, about each respective book, posted by other members of BOOKS.
  </p>

<form >
  <div >
  <label>Username: </label>
<input type="text" name="name" placeholder="Username">
 </div>


<div >
  <label>Password: </label>
<input type="text" name="name" placeholder="Password">
</div>


<a href="{{url_for('search')}}" class="btn btn-secondary active" role="button" aria-pressed="true">Login</a>



  </form>
<a href="{{ url_for('registor') }}">Registor here</a>


</body>





</html>
