<html>
<head>


<title>BOOKS</title>
<h1 style="color:;text-align:center;">BOOKS</h1>
  </head>



<body>

<h2 style="color:;text-align:center;">The Dark is rising<h2>


  <style>


      th, td {
        border: 1px solid black;
      }
  </style>

  <table>
    <tr>
      <th>ISBN</th>
      <th>Title</th>
      <th>Author</th>
      <th>Publication Year</th>
    </tr>
    <tr>

      <td>  <a >1416949658</a> </td>
      <td>  <a >The Dark is Rising</a> </td>
      <td>  <a >Susan Cooper</a> </td>
      <td>  <a >1073</a> </td>

    </tr>
    </table>



<h2> Reviews</h2>





  </body>


<a href="{{url_for('search')}}" class="btn btn-secondary active" role="button" aria-pressed="true">Go Back</a>

</html>
