<html>

<head>

<title>Registration Page</title>

</head>


<body>
<h1 style="color:;text-align:center;">BOOKS Registration Page</h1>

<p style="color:;text-align:center;">New users need to sign up and create an account to use the BOOKS search engine.</p>
<p style="color:;text-align:center;"> The process of making an account includes users inserting their first name and last name, and then picking their own unique username and password.</p>
</body>


<form  method="POST">
  <div class="form-group">
      <label for="Firstlabel">First Name: </label>
      <input type="text" class="form-control" name="firstName" placeholder="Enter first name">
    </div>

    <div class="form-group">
        <label for="Secondlabel">Last Name: </label>
        <input type="text" class="form-control" name="lastName" placeholder="Enter last name">
      </div>

      <div class="form-group">
          <label for="Thirdlabel">Pick Username: </label>
          <input type="text" class="form-control" name="username_registor" placeholder="Enter username">
        </div>

        <div class="form-group">
            <label for="Fourthlabel">Pick Password: </label>
            <input type="text" class="form-control" name="password_registor" placeholder="Enter password">
          </div>


          <a href="{{url_for('index')}}" class="btn btn-secondary active" role="button" aria-pressed="true">Create Account!</a>
          <br>
              <a href="{{url_for('index')}}" class="btn btn-secondary active" role="button" aria-pressed="true">Go Back</a>


    </form>
