<html>

<head>

<title>Search Page</title>

</head>


<body>
<h1 style="color:;text-align:center;">BOOKS Search Page</h1>

<div class="container">
        <div class="bar">

            <a href="{{url_for('index')}}" class="btn btn-primary active" role="button" aria-pressed="true">Logout</a>
        </div>

        <div>
<p style="color:;text-align:center;"> On this page BOOKS' users are able to use the search engine which will allow users to search for any book stored within our databse. Users are able to search for books using their ISBN id, author, or title. </p>
          </div>



        <div id="search_box">

            <div >
                <h2> Search for your book</h2>

            </div>

            <form  method="POST">

               <div class="search_group">

                   <input  type="search" placeholder="Search for book here" name="search">
                   <label for="searchFilter">Search By:</label>
                   <select name="filterType">
                       <option value="isbn">ISBN Id</option>
                       <option value="title">Title</option>
                       <option value="author">Author</option>
                   </select>

               </div>


               <a href="{{url_for('page')}}" class="btn btn-secondary active" role="button" aria-pressed="true">Seach!</a>

          </form>







</body>
