h1 {
color: Red;
text-align: center;
}
h2 {
color: Red;
text-align: center;
}


p {
color: Black;
font-family: Arial, sans-serif;
font-size: 16px;

}

body{
  background-color: lightblue;
}

table {
  border: 2px solid black;
  Border-collapse: collapse;
}
